Importing packages

In [3]:
import os #for path
import numpy as np #arrays
import pandas as pd #dataframes(rows,cols)
import matplotlib.pyplot as plt #visualization
from sklearn import tree, metrics

In [4]:
data =pd.read_csv('car.data',names=['buying','maint','doors','persons','lug_boot','safety','class'])
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [5]:
data.shape

(1728, 7)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

 We can convert the string categorical values into an integer code using factorize method of the pandas library

In [7]:
data['class'],class_names = pd.factorize(data['class'])

In [8]:
print(class_names)
print(data['class'].unique())

Index(['unacc', 'acc', 'vgood', 'good'], dtype='object')
[0 1 2 3]

In [9]:
data['buying'],_ = pd.factorize(data['buying'])
data['maint'],_ = pd.factorize(data['maint'])
data['doors'],_ = pd.factorize(data['doors'])
data['persons'],_ = pd.factorize(data['persons'])
data['lug_boot'],_ = pd.factorize(data['lug_boot'])
data['safety'],_ = pd.factorize(data['safety'])
data.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       0      0      0        0         0       0      0
1       0      0      0        0         0       1      0
2       0      0      0        0         0       2      0
3       0      0      0        0         1       0      0
4       0      0      0        0         1       1      0

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   int64
 1   maint     1728 non-null   int64
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   int64
 5   safety    1728 non-null   int64
 6   class     1728 non-null   int64
dtypes: int64(7)
memory usage: 94.6 KB

In [11]:
X = data.iloc[:,:-1]
X #independent variables

      buying  maint  doors  persons  lug_boot  safety
0          0      0      0        0         0       0
1          0      0      0        0         0       1
2          0      0      0        0         0       2
3          0      0      0        0         1       0
4          0      0      0        0         1       1
...      ...    ...    ...      ...       ...     ...
1723       3      3      3        2         1       1
1724       3      3      3        2         1       2
1725       3      3      3        2         2       0
1726       3      3      3        2         2       1
1727       3      3      3        2         2       2

[1728 rows x 6 columns]

In [12]:
y = data.iloc[:,-1]
y #target

0       0
1       0
2       0
3       0
4       0
       ..
1723    3
1724    2
1725    0
1726    3
1727    2
Name: class, Length: 1728, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
# split data randomly into 70% training and 30% test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [15]:
X_train.head()

      buying  maint  doors  persons  lug_boot  safety
580        1      1      1        1         1       1
1214       2      3      0        2         2       2
1665       3      3      1        2         0       0
661        1      2      0        1         1       1
587        1      1      1        2         0       2

In [16]:
y_train.head()

580     0
1214    2
1665    0
661     0
587     1
Name: class, dtype: int64

In [17]:
# train the decision tree
dtree = tree.DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)
dtree.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)

In [18]:
y_test.to_csv('yt.csv') #original

In [19]:
# use the model to make predictions with the test data
y_pred = dtree.predict(X_test)
y_pred#predicted y values


df = pd.DataFrame(y_pred, columns = ['y_pred'])
df.to_csv('ypt.csv')

In [20]:
# how did our model perform?
count_misclassified = (y_test != y_pred).sum()
print('Misclassified samples: {}'.format(count_misclassified))

Misclassified samples: 96

In [21]:
accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

Accuracy: 0.82